<!DOCTYPE html>
<html data-theme="mytheme">
  <head>
    <title>Sustainable Living Guide Admin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div id="root">
      <div class="drawer lg:drawer-open">
        <input id="left-sidebar-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
          <div class="navbar sticky top-0 bg-base-100 z-10 shadow-md">
            <div class="flex-1">
              <label
                for="left-sidebar-drawer"
                class="btn btn-primary drawer-button lg:hidden"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="h-5 inline-block w-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                  ></path>
                </svg>
              </label>
              <h1 class="text-2xl font-semibold ml-2"></h1>
            </div>
          </div>
          <main class="flex-1 overflow-y-auto md:pt-4 pt-4 px-6 bg-base-200">
            <div class="stats stats-vertical lg:stats-horizontal shadow w-full">
              <div class="stat bg-primary">
                <div class="stat-title">Total Tips</div>
                <div class="stat-value"><%= totalTip %></div>
              </div>

              <div class="stat bg-warning">
                <div class="stat-title">Total Challenge</div>
                <div class="stat-value"><%= totalChallenge %></div>
              </div>

              <div class="stat bg-info">
                <div class="stat-title">Total Blog</div>
                <div class="stat-value"><%= totalBlog %></div>
              </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 my-5 lg:my-9 gap-4">
              <div class="overflow-x-auto card shadow">
                <div class="text-center text-xl">Recent Tip</div>
                <table class="table table-zebra">
                  <!-- head -->
                  <thead>
                    <tr>
                      <th></th>
                      <th>Title</th>
                      <th>Category</th>
                      <th>Difficulty</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i = 0; i < recentTips.length;i++){%>
                    <tr>
                      <th><%= i+1 %></th>
                      <td><%= recentTips[i].title %></td>
                      <td><%= recentTips[i].category %></td>
                      <td><%= recentTips[i].difficulty_level %></td>
                    </tr>
                    <%}%>
                  </tbody>
                </table>
              </div>
              <div class="overflow-x-auto card shadow">
                <table class="table table-zebra">
                  <div class="text-center text-xl">Recent Challenge</div>
                  <!-- head -->
                  <thead>
                    <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Difficulty</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i = 0; i < recentChallenges.length;i++){%>
                    <tr>
                      <th><%= i+1 %></th>
                      <td><%= recentChallenges[i].name %></td>
                      <td><%= recentChallenges[i].category %></td>
                      <td><%= recentChallenges[i].difficulty %></td>
                    </tr>
                    <%}%>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 my-5 gap-4">
              <div class="overflow-x-auto card shadow">
                <div class="text-center text-xl">Recent Blog</div>
                <table class="table table-zebra">
                  <!-- head -->
                  <thead>
                    <tr>
                      <th></th>
                      <th>Title</th>
                      <th>Category</th>
                      <th>Likes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i = 0; i < recentBlogs.length;i++){%>
                    <tr>
                      <th><%= i+1 %></th>
                      <td><%= recentBlogs[i].title %></td>
                      <td><%= recentBlogs[i].category %></td>
                      <td><%= recentBlogs[i].like.length %></td>
                    </tr>
                    <%}%>
                  </tbody>
                </table>
              </div>
              <div class="overflow-x-auto card shadow">
                <table class="table table-zebra">
                  <div class="text-center text-xl">Recent Community</div>
                  <!-- head -->
                  <thead>
                    <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Total Post</th>
                      <th>Total Member</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- row 1 -->
                    <% for(var i = 0; i < recentCommunities.length;i++){%>
                    <tr>
                      <th><%= i+1 %></th>
                      <td><%= recentCommunities[i].name %></td>
                      <td>
                        <%= recentCommunities[i].stats.conservationCount %>
                      </td>
                      <td><%= recentCommunities[i].stats.membersCount %></td>
                    </tr>
                    <%}%>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="h-16"></div>
          </main>
        </div>
        <% include ../partial/adminDrawer %>
      </div>
    </div>
  </body>
</html>
