<!DOCTYPE html>
<html data-theme="mytheme">
  <head>
    <title>Sustainable Living Guide Admin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div id="root">
      <div class="drawer lg:drawer-open">
        <input id="left-sidebar-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
          <div class="navbar sticky top-0 bg-base-100 z-10 shadow-md">
            <div class="flex-1">
              <label
                for="left-sidebar-drawer"
                class="btn btn-primary drawer-button lg:hidden"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="h-5 inline-block w-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                  ></path>
                </svg>
              </label>
              <h1 class="text-2xl font-semibold ml-2"></h1>
            </div>
          </div>
          <main class="flex-1 overflow-y-auto md:pt-4 pt-4 px-6 bg-base-200">
            <div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
              <div class="text-xl font-semibold">Blog Update</div>
              <div class="divider mt-2"></div>
              <div class="h-full w-full pb-6 bg-base-100">
                <form
                  action="/admin/blog/update"
                  method="post"
                  enctype="multipart/form-data"
                >
                <input type="hidden" name="id" value="<%= blog._id %>">
                  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                    <div class="form-control w-full undefined -mb-7">
                      <label class="label">
                        <span class="label-text text-base-content undefined">
                          Title
                        </span>
                      </label>
                      <input
                        type="text"
                        name="title"
                        placeholder="Blog Title"
                        value="<%= blog.title %>"
                        class="input input-bordered w-full validator"
                        required
                        minlength="3"
                        title="Only letters, numbers or dash"
                      />
                      <p class="validator-hint">
                        Must be at least 3 characters
                      </p>
                    </div>
                    <div class="form-control w-full undefined -mb-3">
                      <label class="label">
                        <span class="label-text text-base-content undefined">
                          Category
                        </span>
                      </label>
                      <br />
                      <select
                        class="select validator w-full"
                        name="category"
                        required
                      >
                        <option value="Energy" <%= blog.category == "Energy" ? "selected":"" %>>Energy</option>
                        <option value="Waste" <%= blog.category == "Waste" ? "selected":"" %>>Waste</option>
                        <option value="Water" <%= blog.category == "Water" ? "selected":"" %>>Water</option>
                        <option value="Food" <%= blog.category == "Food" ? "selected":"" %>>Food</option>
                        <option value="Transport" <%= blog.category == "Transport" ? "selected":"" %>>Transport</option>
                        <option value="Eco-Friendly" <%= blog.category == "Eco-Friendly" ? "selected":"" %>>Eco-Friendly</option>
                      </select>
                      <p class="validator-hint">Category is required</p>
                    </div>

                    <div class="form-control w-full undefined -mb-7">
                      <label class="label">
                        <span class="label-text text-base-content undefined">
                          Tags(optional)
                        </span>
                      </label>
                      <input
                        type="text"
                        name="tags"
                        placeholder="eco,green"
                        value="<%= blog.tags %>"
                        class="input input-bordered w-full validator"
                        required
                        minlength="3"
                        title="Only letters, numbers or dash"
                      />
                      <p class="validator-hint">
                        Must be at least 3 characters
                      </p>
                    </div>
                    <div class="form-control w-full undefined">
                      <label class="label">
                        <span class="label-text text-base-content undefined">
                          Image
                        </span>
                      </label>
                      <input
                        type="file"
                        accept="image/*"
                        name="image"
                        placeholder="Estimated Savings"
                        class="file-input input-bordered w-full"
                      />
                    </div>
                    <div
                      class="form-control w-full undefined -mb-3 lg:col-span-2"
                    >
                      <label class="label">
                        <span class="label-text text-base-content undefined">
                          Content
                        </span>
                      </label>
                      <textarea
                        name="content"
                        class="textarea textarea-bordered w-full validator"
                        required
                        minlength="15"
                      ><%= blog.content %></textarea>
                      <p class="validator-hint">
                        Must be at least 15 characters
                      </p>
                    </div>
                  </div>

                  <div class="mt-16">
                    <button type="submit" class="btn btn-primary float-right">
                      Update
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="h-16"></div>
          </main>
        </div>
        <% include ../../partial/adminDrawer %>
      </div>
    </div>
  </body>
</html>
